* {
    margin: 0;
    padding: 0;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 100px;
    font-style: normal;
}
header, #btnAdicionar, #btnSortear {
    background-color: #45658e
}
main, footer, .cabecalho, .lu, .x, .escolhid, .sorte{
    display: flex;
}
main, footer, .cabecalho, .lu, .sorte{
    justify-content: center;
}
main, footer, .cabecalho, .lu, .escolhid, .sorte{
    align-items: center;
}
header {
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    height: 400px;
    overflow: hidden;
    transition: 0.6s ease-in-out;
}
main {
    height: 400px;
    flex-direction: column;
    gap: 10px;
}
footer {
    flex-direction: column;
    font-size: 12px;
    height: 200px;
}
footer a{
    color: black;
}
object {
    height: 506px;
    width: 30%;
    top: 100px;
}
.titulo {
    color: white;
    font-weight: 10px;
    font-size: 60px;
    text-decoration: underline;
}
.lu {
    flex-direction: column;
    margin-top: 100px;
}
.x {
    padding: 0;
    margin: 0;
    margin-top: -200px;
    transition: 0.6s ease-in-out;
}
.esco {
    color: white;
}
.escolhido {
    color: rgb(143, 233, 9);
    font-size: 20px;
    text-decoration: underline;
}
.escolhid {
    justify-content: left;
    gap: 10px;
}
#caixaDeTexto {
    border-bottom-left-radius: 9px;
    border-top-left-radius: 9px;
    outline: none;
    padding: 0 10px;
    border: 1px solid #45658e;
    height: 55px;
    width: 450px;
    font-size: 16px;
}
#btnAdicionar {
    border-bottom-right-radius: 9px;
    border-top-right-radius: 9px;
    
    color: white;
    border: 1px solid #45658e;
    padding: 2px;
    margin-left: -5px;
    height: 57px;
    font-size: 16px;
    padding: 0 10px;
    transition: 0.1s ease-in-out;
    cursor: pointer;
}
#btnAdicionar:hover,
#btnSortear:hover {
    background-color: #345785;
}
#btnSortear {
    color: white;
    border: 1px solid #45658e;
    padding: 2px;
    margin-left: -5px;
    height: 37px;
    font-size: 16px;
    padding: 0 10px;
    transition: 0.1s ease-in-out;
    cursor: pointer;
    width: 300px;
    border-radius: 15px;
}
#btnApagar {
    background-color: white;
    color: #45658e;
    border: 1px solid #45658e;
    padding: 2px;
    margin-left: -5px;
    height: 37px;
    font-size: 16px;
    padding: 0 10px;
    transition: 0.1s ease-in-out;
    cursor: pointer;
    width: 300px;
    border-radius: 15px;
}
#btnApagar:hover{
    background-color: rgb(240, 237, 237);
}
li {
    list-style-type: none;
    padding: 6px 20px;
}
ul {
    background-color: #ced7e2;
    border-radius: 20px;
    padding: 0 10px;
    margin-top: -350px;
    width: 600px;
    overflow: auto;
    height: 300px;
    transition: 0.6s ease-in-out;
}
.sorte {
    gap: 10px;
    transition: 0.6s ease-in-out;
}
@media (max-width: 768px) {
    header {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        height: 200px;
        overflow: hidden;
    }
    ul {
        width: 400px;
        overflow: auto;
        height: 300px;
    }
    .x {
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        margin-top: -200px;
        width: 50px;
        transition: 0.6s ease-in-out;
    }
    .sorte {
        gap: 10px;
        flex-direction: column;
    }
    .titulo {
        font-weight: 10px;
        font-size: 40px;
        text-decoration: underline;
        margin-top: -150px;
    }
    object {
        margin-top: -100px;
        width: 30%;
    }
}
